body {
    background-image: linear-gradient(#96dff6, #3648d6, #dcc8c8);
    text-align: center;
    height: 700px;
  }
  input {
    border: 1px solid black;
    border-radius: 25px;
    background-color: lightblue;
    width: 200px;
    height: 40px;
  }
  button {
    border: 1px solid black;
    border-radius: 25px;
    background-color: lightskyblue;
    width: 200px;
    height: 40px;
    transition: 1s background-color linear;
    font-size: 18px;
  }
  button:hover {
    background-color: cyan;
  }
  .dataBox {
    border: 1px solid black;
    background-color: lightskyblue;
    width: 1200px;
    display: flex;
    justify-content: space-around;
    margin: 30px;
    flex-wrap: wrap;
  }
  .displayBox {
    border: 1px solid black;
    border-radius: 25px;
    background-color: hotpink;
    height: 35px;
    width: 465px;
    margin: 20px;
    padding-top: 12px;
  }